@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  max-width: 100vw;
  max-height: 100vh;
  overflow: auto;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

input {
  font-family: "Poppins", sans-serif;
}

summary {
  font-family: "Sen", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}


::-webkit-scrollbar-track
{
	border: 1px solid black;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
  scroll-behavior: smooth;
}

::-webkit-scrollbar-thumb
{
	background-color: #000000;	
}

/* 
@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
